# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
eggs/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
hypothesis/
.pytest_cache/

# Virtualenv
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Django stuff:
local_settings.py
db.sqlite3
media/
staticfiles/

# PyCharm
.idea/

# VS Code
.vscode/

# Mac
.DS_Store
venv/
rizer/__pycache__/
media/

